@import todolist._
@(errors: List[String],todolists: List[ToDoList])
@main("My Own To Do List"){
  <div class="container">
  <h2>My To Do List</h2>
    <div class="col-sm-9 form-container-holder">
      <div class="row">
        @if(errors != null && errors.size > 0) {
          <ul class="alert alert-danger col-xs-12">
          @for(error <- errors) {
            <li>@error</li>
          }
          </ul>
        }
  <table id="#" class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      @for(todolist <- todolists){
        <tr>
          <td>@todolist.getTitle()</td>
          <td>@todolist.getDescription()</td>
          <td><a href="@routes.ToDoListController.updateToDobyId(todolist.getId())">Edit</a><td>
          <td><button onclick="del('@routes.ToDoListController.deleteToDo(todolist.getId())');">Delete</button>
        </td>
        </tr>
      }
    </tbody>
  </table>
    <a class="btn btn-primary" href="@routes.ToDoListController.index()">New To Do</a>
      </div>
    </div>
  </div>
  <script>
          function del(urltoDelete){
              $.ajax({
                  url: urltoDelete,
                  type:'POST',
                  success: function (results) {
                    location.reload();
                  }
              });
          }
  </script>
}